<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Inicio</title>
</head>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Inicio</a>          
        </div>
      </nav>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">           
                    <div class="card-body">
                      <h5 class="card-title">Inventario</h5>
                      <p class="card-text">Inventario</p>
                      <a href="#" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">           
                    <div class="card-body">
                      <h5 class="card-title">Venta</h5>
                      <p class="card-text">Ventas</p>
                      <a href="/tickets" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">           
                    <div class="card-body">
                      <h5 class="card-title">Lista de refacciones</h5>
                      <p class="card-text">Lista de refacciones</p>
                      <a href="/lista" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>
</html>