<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Inicio</title>
</head>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/">Inicio</a>
          <form class="d-flex" role="search" method="post" action="/lista_imagen/search">
            <input class="form-control me-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>      
        </div>
      </nav>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-group">
                    <input type="file" class="form-control" id="file_image" aria-describedby="file_image" aria-label="Cargar..">
                    <button class="btn btn-outline-secondary" type="button" id="file_image">Guardar</button>
                </div> 
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>
</html>